html {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 900;
  color: #0023FF;
}

p {
  font-family: 'Lora', serif;
}

shape {
    position: relative;
  }

.text {
  position: absolute;
  left: 15%;
  top: 10%;
  background-color: transparent;
}

.links {
  position: absolute;
  right: 15%;
  bottom: 15%;
  background-color: transparent;
}
